.Checkout {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: 80px 0;
  max-width: 650px;
  padding: 1.5rem;
  width: 100vw;
}

.Checkout h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.Checkout form {
  display: flex;
  flex-flow: column nowrap;
  max-width: 700px;
  width: 100%;
}

.Checkout input, .Checkout select {
  border: 1px solid var(--divider-color);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: 100%;
}

.Checkout div {
  display: flex;
  justify-content: stretch;
  margin-bottom: 0.7rem;
  width: 100%;
}

.Checkout label {
  flex-grow: 1;
}

.Checkout label:not( :last-child ) {
  margin-right: 0.5rem;
}

.Checkout label select {
  flex-shrink: 0;
}

.Checkout-label-cpf, .Checkout-label-phone, .Checkout-label-city {
  width: 90px;
}

.Checkout-label-province, .Checkout-label-number {
  width: 70px;
}

.Checkout-payment {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 300px;
}

.Checkout-payment * {
  display: flex;
  width: fit-content;
}

.Checkout-payment input {
  margin-right: 0.5rem;
  width: fit-content;
}

.Checkout button {
  background-color: transparent;
  border: 1px solid red;
  border-radius: 10px;
  color: red;
  cursor: pointer;
  display: flex;
  font: 600;
  justify-content: center;
  margin-top: 1.5rem;
  padding: 10px 15px;
}

.Checkout button:hover {
  background-color: red;
  color: white;
}

@media screen and ( max-width : 400px ) {

  .Checkout label {
    width: 100%;
  }
}
