.pageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1180px;
  padding: 20px;
  width: 100vw;
}

.SearchList {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 1.2rem;
  width: 100%;
}

.SearchList * {
  -webkit-transition: 400ms;
  transition: 400ms;
}

.SearchList-container-cards {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}

.SearchList-searchbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.SearchList-searchbar input {
  border: 1px solid var(--divider-color);
  border-radius: 10px;
  -webkit-box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.123);
          box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.123);
  font-size: 18px;
  padding: 10px 15px;
  width: 100%;
}

.SearchList-searchbar:hover {
  -webkit-filter: drop-shadow(4px 5px 20px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 5px 20px rgba(0, 0, 0, 0.25));
}

.SearchList-searchbar-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  color: var(--primary-text);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.7rem;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.5;
  position: absolute;
  right: 10px;
  top: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.SearchList-searchbar-button:hover {
  opacity: 1;
}

.SearchList-searchbar-button * {
  margin-bottom: 1px;
}

.SearchList-search-message {
  margin-top: 1rem;
  text-align: center;
}

@media screen and (max-width: 476px) {
  .SearchList-search-message {
    text-align: center;
    width: 300px;
  }
}

@media screen and (max-width: 649px) {
  .SearchList {
    margin-left: 0;
  }
  .SearchList-container-cards {
    width: 100%;
  }
}

@media screen and (max-width: 1150px) {
  .SearchList-container-cards {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 2rem;
  }
}
/*# sourceMappingURL=SearchList.css.map */