@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --dark-blue: #12089E;
  --dark-blue-transparent: #12089e63;
  --normal-blue: #0828A8;
  --primary-text: #0F4C91;
  --secondary-text: #087EA8;
  --button: #089E9E;
  --black: #21222a;
  --dark-gray: #4f515c;
  --gray: #cacddb;
  --white: #eff1fd;
  --font: Quicksand, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font);
  margin: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: var(--white);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
